main {
    margin-bottom: 3rem;
}

.title-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
    align-items: center;
}

.title-container button {
    background-color: rgb(230, 73, 73);
    border: none;
    margin-left: 1.5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: white;
    border-radius: .25rem;
}

.title-container button:hover {
    background-color: rgb(200, 73, 73);
    cursor: pointer;
}

.barbell-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .75rem 1rem 1rem;
    /* margin: 1rem; */
}

.weight-display {
    font-weight: 600;
}

.plate-results-container {
    height: 1.75rem;
}

.plate-results {
    display: flex;
    gap: 3px;
}

.plate-results .plate-object {
    display: flex;
    background-color: rgb(100, 100, 100);
    border-radius: .25rem;
    color: white;
    padding: .25rem .25rem;
}

.calculation-and-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter-weight-and-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.enter-weight-and-input-container h3 {
    margin-bottom: .75rem;
}

.enter-weight-and-input-container input {
    width: 17rem;
    padding: .5rem .5rem;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    border: 2px solid gray;
    border-radius: .5rem;
}

.options-container {
    display: flex;
    flex-direction: column;
    width: 17rem;
}

.units-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.units-container h3 {
    margin-bottom: .75rem;
}

.units-options-container {
    display: flex;
    justify-content: center;
}

.units-options-container .weight-unit {
    margin-left: 1rem;
    margin-right: 1rem;
}

.units-options-container .weight-unit label {
    margin-left: .375rem;
    font-weight: 500;
}

.barbell-weight-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.barbell-weight-container h3 {
    margin-bottom: .75rem;
}

.barbell-weight-options button {
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem .75rem;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: rgb(175, 175, 175);
    color: white;
    border: 2px solid rgb(175, 175, 175);
    border-radius: .25rem;
}

.barbell-weight-options button.selected {
    background-color: rgb(110, 110, 110);
    border: 2px solid rgb(70, 70, 70);
}

.calculate-button-container button {
    margin-top: 1rem;
    background-color: rgb(13, 110, 253);
    color: white;
    padding: .75rem 1rem;
    font-size: 1rem;
    width: 17rem;
    border-radius: .25rem;
    border: none;
}

.calculate-button-container button:hover {
    cursor: pointer;
    background-color: rgb(13, 110, 210);
}

.additional-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .25rem;
}

.additional-options-container h3 {
    margin-bottom: .75rem;
}

.additional-options-container .option {
    width: 9rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: .75rem;
}

.additional-options-container .option label {
    margin-left: .375rem;
}

/* Barbell display */

/* barbell specs */
/* barbell length: 2200mm
diameter: 29mm
inside (from collar to collar): 1310mm
outside (from end to start of collar): 415mm
collar width: 30mm, height: ? 
sleeve width: 415mm, height: 50mm*/


/* plate specs */
/* height: 450mm
center hole height: 50mm

KG plates widths
25kg: 25mm 
20: 22mm
15kg: 20mm, height: 
10kg: 20mm, height: 
5kg: 22mm, height: 
2.5kg: 15mm, height: 
1.25kg: 8mm, height:  */

.barbell-display {
    display: flex;
    align-items: center;
    height: 12.59rem;
    width: 62rem;
}

.barbell-display .collar, 
.barbell-display .bar, 
.barbell-display .bar-sleeve {
    background-color: rgb(100, 100, 100);
    color: white;
}

.barbell-display .collar {
    height: 2.1rem;
    width: .84rem;
}

.barbell-display .bar {
    width: 36.63rem;
    height: .81rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70%;
}

.barbell-display .bar-sleeve {
    height: 1.45rem;
    width: 11.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.plates-container {
    display: flex;
    gap: px;
    align-items: center;
}

.plates-container.left-side {
    flex-direction: row-reverse;
}

.plate {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: rgb(55, 55, 55) 1px solid;
}

.plate.kg25 {
    height: 12.59rem;
    width: .82rem;
    background-color: red;
    font-size: 60%;
}

.plate.kg20 {
    height: 12.59rem;
    width: .72rem;
    background-color: blue;
    font-size: 50%;
}

.plate.kg15 {
    height: 11.19rem;
    width: .65rem;
    background-color: rgb(255, 208, 0);
    font-size: 50%;
}

.plate.kg10 {
    height: 9.09rem;
    width: .65rem;
    background-color: green;
    font-size: 50%;
}

.plate.kg5 {
    height: 5.22rem;
    width: .65rem;
    background-color: rgb(240, 240, 240);
    color: black;
    font-size: 60%;
}

.plate.kg2-5 {
    height: 4.29rem;
    width: .61rem;
    background-color: black;
    font-size: 50%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.plate.kg1-25 {
    height: 3.63rem;
    width: .59rem;
    background-color: lightgray;
    color: black;
    font-size: 50%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}


.plate.lb45 {
    height: 12.59rem;
    width: 1.17rem;
    font-size: 70%;
    background-color: rgb(22, 22, 22);
}

.plate.lb35 {
    height: 11.75rem;
    width: 1.17rem;
    font-size: 70%;
    background-color: rgb(22, 22, 22);
}

.plate.lb25 {
    height: 9.41rem;
    width: 1.12rem;
    font-size: 70%;
    background-color: rgb(22, 22, 22);
}

.plate.lb10 {
    height: 6.15rem;
    width: .83rem;
    font-size: 70%;
    background-color: rgb(22, 22, 22);
}

.plate.lb5 {
    height: 4.85rem;
    width: .61rem;
    font-size: 65%;
    background-color: rgb(22, 22, 22);
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.plate.lb2-5 {
    height: 3.63rem;
    width: .59rem;
    font-size: 50%;
    background-color: rgb(22, 22, 22);
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

@media (max-width: 1024px) {
    .barbell-display {
        height: 10rem;
        width: 46rem;
    }
    
    .barbell-display .collar {
        height: 1.56rem;
        width: .62rem;
    }
    
    .barbell-display .bar {
        width: 27.16rem;
        height: .60rem;
        font-size: 70%;
    }
    
    .barbell-display .bar-sleeve {
        height: 1.08rem;
        width: 8.61rem;
    }

    .plate {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    
    .plate.kg25 {
        height: 9.34rem;
        width: .61rem;
        font-size: 50%;
    }
    
    .plate.kg20 {
        height: 9.34rem;
        width: .53rem;
        font-size: 50%;
    }
    
    .plate.kg15 {
        height: 8.30rem;
        width: .48rem;
        font-size: 50%;
    }
    
    .plate.kg10 {
        height: 6.74rem;
        width: .48rem;
        font-size: 50%;
    }
    
    .plate.kg5 {
        height: 3.87rem;
        width: .48rem;
        font-size: 50%;
    }
    
    .plate.kg2-5 {
        height: 3.18rem;
        width: .45rem;
        font-size: 50%;
    }
    
    .plate.kg1-25 {
        height: 2.69rem;
        width: .44rem;
        font-size: 50%;
    }
    
    .plate.lb45 {
        height: 9.34rem;
        width: .87rem;
        font-size: 70%;
    }
    
    .plate.lb35 {
        height: 8.72rem;
        width: .87rem;
        font-size: 70%;
    }
    
    .plate.lb25 {
        height: 6.98rem;
        width: .83rem;
        font-size: 70%;
    }
    
    .plate.lb10 {
        height: 4.56rem;
        width: .62rem;
        font-size: 55%;
    }
    
    .plate.lb5 {
        height: 3.60rem;
        width: .45rem;
        font-size: 50%;
    }
    
    .plate.lb2-5 {
        height: 2.69rem;
        width: .44rem;
        font-size: 30%;
    }
}

@media (max-width: 768px) {
    .barbell-display {
        height: 10rem;
        width: 38rem;
    }

    .barbell-display .collar {
        height: 1.56rem;
        width: .62rem;
    }
    
    .barbell-display .bar {
        width: 27.16rem;
        height: .60rem;
        font-size: 70%;
    }
    
    .barbell-display .bar-sleeve {
        height: 1.08rem;
        width: 8.61rem;
    }

    .plate {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    
    .plate.kg25 {
        height: 9.34rem;
        width: .61rem;
        font-size: 50%;
    }
    
    .plate.kg20 {
        height: 9.34rem;
        width: .53rem;
        font-size: 50%;
    }
    
    .plate.kg15 {
        height: 8.30rem;
        width: .52rem;
        font-size: 50%;
    }
    
    .plate.kg10 {
        height: 6.74rem;
        width: .52rem;
        font-size: 50%;
    }
    
    .plate.kg5 {
        height: 3.87rem;
        width: .48rem;
        font-size: 50%;
    }
    
    .plate.kg2-5 {
        height: 3.18rem;
        width: .45rem;
        font-size: 50%;
    }
    
    .plate.kg1-25 {
        height: 2.69rem;
        width: .44rem;
        font-size: 50%;
    }
    
    .plate.lb45 {
        height: 9.34rem;
        width: .87rem;
        font-size: 70%;
    }
    
    .plate.lb35 {
        height: 8.72rem;
        width: .87rem;
        font-size: 70%;
    }
    
    .plate.lb25 {
        height: 6.98rem;
        width: .83rem;
        font-size: 70%;
    }
    
    .plate.lb10 {
        height: 4.56rem;
        width: .62rem;
        font-size: 55%;
    }
    
    .plate.lb5 {
        height: 3.60rem;
        width: .45rem;
        font-size: 50%;
    }
    
    .plate.lb2-5 {
        height: 2.69rem;
        width: .44rem;
        font-size: 30%;
    }
    /* .barbell-display {
        height: 8.35rem;
        width: 38rem;
        background-color: aqua;
      }
      
      .barbell-display .collar {
        height: 1.29rem;
        width: 0.51rem;
      }
      
      .barbell-display .bar {
        width: 22.47rem;
        height: 0.36rem;
        font-size: 50%;
      }
      
      .barbell-display .bar-sleeve {
        height: 0.90rem;
        width: 7.10rem;
      }

      .plate {
        font-size: 50%;
      }
      
      .plate.kg25 {
        height: 7.76rem;
        width: 0.50rem;
      }
      
      .plate.kg20 {
        height: 7.76rem;
        width: 0.44rem;
      }
      
      .plate.kg15 {
        height: 6.89rem;
        width: 0.38rem;
      }
      
      .plate.kg10 {
        height: 5.58rem;
        width: 0.38rem;
      }
      
      .plate.kg5 {
        height: 3.21rem;
        width: 0.38rem;
      }
      
      .plate.kg2-5 {
        height: 2.65rem;
        width: 0.37rem;
      }
      
      .plate.kg1-25 {
        height: 2.24rem;
        width: 0.36rem;
      }
      
      .plate.lb45 {
        height: 7.76rem;
        width: 0.72rem;
      }
      
      .plate.lb35 {
        height: 7.25rem;
        width: 0.72rem;
      }
      
      .plate.lb25 {
        height: 5.83rem;
        width: 0.69rem;
      }
      
      .plate.lb10 {
        height: 3.80rem;
        width: 0.51rem;
      }
      
      .plate.lb5 {
        height: 2.99rem;
        width: 0.37rem;
      }
      
      .plate.lb2-5 {
        height: 2.24rem;
        width: 0.36rem;
      } */
}

@media (max-width: 640px) {
    .barbell-display {
        height: 13.5rem;
        width: 13.5rem;
        display: flex;
        justify-content: center;
    }

    .bar-sleeve.left-side {
        display: none;
    }

    .collar.left-side {
        display: none;
    }

    .plates-container.left-side {
        display: none;
    }      

    .barbell-display .collar {
        height: 2.1rem;
        width: .84rem;
    }

    .barbell-display .bar {
        width: 7rem;
        height: .81rem;
        font-size: 70%;
    }

    .barbell-display .bar-sleeve {
        height: 1.45rem;
        width: 11.6rem;
    }

    .plate.kg25 {
        height: 12.59rem;
        width: .82rem;
        font-size: 60%;
    }

    .plate.kg20 {
        height: 12.59rem;
        width: .72rem;
        font-size: 50%;
    }

    .plate.kg15 {
        height: 11.19rem;
        width: .65rem;
        font-size: 50%;
    }

    .plate.kg10 {
        height: 9.09rem;
        width: .65rem;
        font-size: 50%;
    }

    .plate.kg5 {
        height: 5.22rem;
        width: .65rem;
        font-size: 60%;
    }

    .plate.kg2-5 {
        height: 4.29rem;
        width: .61rem;
        font-size: 50%;
    }

    .plate.kg1-25 {
        height: 3.63rem;
        width: .59rem;
        font-size: 50%;
    }


    .plate.lb45 {
        height: 12.59rem;
        width: 1.17rem;
        font-size: 70%;
    }

    .plate.lb35 {
        height: 11.75rem;
        width: 1.17rem;
        font-size: 70%;
    }

    .plate.lb25 {
        height: 9.41rem;
        width: 1.12rem;
        font-size: 70%;
    }

    .plate.lb10 {
        height: 6.15rem;
        width: .83rem;
        font-size: 70%;
    }

    .plate.lb5 {
        height: 4.85rem;
        width: .61rem;
        font-size: 65%;
    }

    .plate.lb2-5 {
        height: 3.63rem;
        width: .59rem;
        font-size: 50%;
    }


    /* .barbell-display {
        height: 10rem;
        width: 10rem;
        display: flex;
        justify-content: center;
      }

      .bar-sleeve.left-side {
        display: none;
      }

      .collar.left-side {
        display: none;
      }

      .plates-container.left-side {
        display: none;
      }      
      
      .barbell-display .collar {
        height: 1.56rem;
        width: .62rem;
      }
      
      .barbell-display .bar {
        width: 3.5rem;
        height: .60rem;
        font-size: 70%;
      }
      
      .barbell-display .bar-sleeve {
        height: 1.08rem;
        width: 8.61rem;
      }
      
      .plate.kg25 {
        height: 9.34rem;
        width: .61rem;
        font-size: 50%;
      }
      
      .plate.kg20 {
        height: 9.34rem;
        width: .53rem;
        font-size: 50%;
        }
      
      .plate.kg15 {
        height: 8.30rem;
        width: .52rem;
        font-size: 50%;
      }
      
      .plate.kg10 {
        height: 6.74rem;
        width: .52rem;
        font-size: 50%;
      }
      
      .plate.kg5 {
        height: 3.87rem;
        width: .48rem;
        font-size: 50%;
      }
      
      .plate.kg2-5 {
        height: 3.18rem;
        width: .45rem;
        font-size: 50%;
      }
      
      .plate.kg1-25 {
        height: 2.69rem;
        width: .44rem;
        font-size: 50%;
      }
      
      .plate.lb45 {
        height: 9.34rem;
        width: .87rem;
        font-size: 70%;
      }
      
      .plate.lb35 {
        height: 8.72rem;
        width: .87rem;
        font-size: 70%;
      }
      
      .plate.lb25 {
        height: 6.98rem;
        width: .83rem;
        font-size: 70%;
      }
      
      .plate.lb10 {
        height: 4.56rem;
        width: .62rem;
        font-size: 55%;
      }
      
      .plate.lb5 {
        height: 3.60rem;
        width: .45rem;
        font-size: 50%;
      }
      
      .plate.lb2-5 {
        height: 2.69rem;
        width: .44rem;
        font-size: 30%;
      } */
}

@media (max-width: 400px) {
    .title-container h1 {
        font-size: 1.45em;
    }
    /* .barbell-display {
        height: 4.13rem;
        width: 19rem;
        background-color: yellow;
      }
      
      .barbell-display .collar {
        height: 0.65rem;
        width: 0.26rem;
      }
      
      .barbell-display .bar {
        width: 11.24rem;
        height: 0.25rem;
      }
      
      .barbell-display .bar-sleeve {
        height: 0.45rem;
        width: 3.57rem;
      }
      
      .plate.kg25 {
        height: 3.86rem;
        width: 0.25rem;
      }
      
      .plate.kg20 {
        height: 3.86rem;
        width: 0.22rem;
      }
      
      .plate.kg15 {
        height: 3.43rem;
        width: 0.20rem;
      }
      
      .plate.kg10 {
        height: 2.79rem;
        width: 0.20rem;
      }
      
      .plate.kg5 {
        height: 1.60rem;
        width: 0.20rem;
      }
      
      .plate.kg2-5 {
        height: 1.32rem;
        width: 0.19rem;
      }
      
      .plate.kg1-25 {
        height: 1.12rem;
        width: 0.18rem;
      }
      
      .plate.lb45 {
        height: 3.86rem;
        width: 0.36rem;
      }
      
      .plate.lb35 {
        height: 3.61rem;
        width: 0.36rem;
      }
      
      .plate.lb25 {
        height: 2.89rem;
        width: 0.34rem;
      }
      
      .plate.lb10 {
        height: 1.89rem;
        width: 0.26rem;
      }
      
      .plate.lb5 {
        height: 1.49rem;
        width: 0.19rem;
      }
      
      .plate.lb2-5 {
        height: 1.12rem;
        width: 0.18rem;
      } */
}



/* .barbell-display {
    display: flex;
    align-items: center;
    height: 13.5rem;
    width: 66.5rem;

    position: relative;
}

.barbell-display .collar {
    background-color: rgb(100, 100, 100);
    height: 16.67%;
    width: 1.4%; 
}

.barbell-display .bar {
    background-color: rgb(100, 100, 100);
    width: 59.1%;
    height: .875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 70%;
}

.barbell-display .bar-sleeve {
    background-color: rgb(100, 100, 100);
    height: 11.11%;
    width: 18.72%; 
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}
.plates-container {
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 13.5rem;
}

.plates-container.left-side {

    flex-direction: row-reverse;
}

.plate {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: rgb(55, 55, 55) 1px solid;

    position: relative;
}

.plate.kg25 {
    height: 100%;
    width: 1.32%;
    background-color: red;
    font-size: 60%;
}

.plate.kg20 {
    height: 100%;
    width: 1.16%;
    background-color: blue;
    font-size: 50%;
}

.plate.kg15 {
    height: 88.89%;
    width: 1.05%;
    background-color: rgb(255, 208, 0);
    font-size: 50%;
}

.plate.kg10 {
    height: 72.22%;
    width: 1.05%;
    background-color: green;
    font-size: 50%;
}

.plate.kg5 {
    height: 41.48%;
    width: 1.05%;
    background-color: rgb(240, 240, 240);
    color: black;
    font-size: 60%;
}

.plate.kg2-5 {
    height: 4.6rem;
    width: 34.07%;
    background-color: black;
    font-size: 50%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.plate.kg1-25 {
    height: 28.89%;
    width: .95%;
    background-color: lightgray;
    color: black;
    font-size: 50%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}


.plate.lb45 {
    height: 100%;
    width: 1.88%;
    font-size: 70%;
    background-color: rgb(22, 22, 22);
}

.plate.lb35 {
    height: 93.33%;
    width: 1.88%;
    font-size: 70%;
    background-color: rgb(22, 22, 22);
}

.plate.lb25 {
    height: 74.81%;
    width: 1.8%;
    font-size: 70%;
    background-color: rgb(22, 22, 22);
}

.plate.lb10 {
    height: 6.6rem;
    width: .89rem;
    font-size: 70%;
    background-color: rgb(22, 22, 22);
}

.plate.lb5 {
    height: 48.88%;
    width: .98%;
    font-size: 70%;
    background-color: rgb(22, 22, 22);
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.plate.lb2-5 {
    height: 28.89%;
    width: .95%;
    font-size: 50%;
    background-color: rgb(22, 22, 22);
    writing-mode: vertical-rl;
    text-orientation: mixed;
} */
